<!--<script src="/javascripts/jquery-ui-1.8rc1/external/jquery.cookie-r6165.js"></script>-->
<script type="text/javascript">

    var div_id = "cytoscapeweb";
    var div_id2 = "cytoscapeweb2";

    var options = {
        // where you have the Cytoscape Web SWF
        swfPath: "/cytoscapeweb/swf/CytoscapeWeb",
        // where you have the Flash installer SWF
        flashInstallerPath: "/cytoscapeweb/swf/playerProductInstall",
        flashAlternateContent: "Cytoscape Web network viewer requires Flash."
    };

    var vis = new org.cytoscapeweb.Visualization(div_id, options);
    var vis_2 = new org.cytoscapeweb.Visualization(div_id2, options);

    // callback when Cytoscape Web has finished drawing
    vis.ready(function() {

/*
        // add a listener for when nodes and edges are clicked
        vis.addListener("click", "nodes", function(event) {
           console.debug("=====================");
           console.debug("here i am click 1; remove select = " + event.type); 
           console.debug("here i am click 1 select listener = " + vis.hasListener("select","nodes")); 
           $("#note").dialog({
                autoOpen: true,
                title: 'Selection: Nodes',
                width: 600,
                position: ['right','center'],
                open: handle_click(event)
            });
        });
*/
        vis.addListener("select", "nodes", function(event) {
           //console.debug("test event = " + event.toSource() ); 
           $("#note").dialog({
                autoOpen: true,
                title: 'Selection: Nodes',
                width: 600,
                position: ['right','center'],
                open: handle_select(event)
            });
        });

        vis.addListener("click", "edges", function(event) {
            $("#note").dialog({
                autoOpen: true,
                title: 'Selection: Edges',
                open: handle_click(event)
            });
        });

        function handle_select(event) {
            var target = event.target;
            var table_start;
            var table_end;
            var items = {};
            clear();

            len = target.length;

            //if (len > 1) {
                //table_start  = "<table><caption id=\"network-caption\">Summary view of network </caption><colgroup id=\"cols\" span=\"9\"></colgroup>";
            //}


            var all_genes = [];
            var all_bicl = [];
            var all_regs = [];
            var all_mots = [];
            var all_ands = [];
            for (var p in target) {
                // RENDER DIFFERENT INFO AND FORMAT FOR SINGLE ITEM VIEW
                if (len == 1) {
    	            // bicluster   
                    if(target[p].data.type== "bicluster") { 

	                svglink=target[p].data["url"];
                        svglink=svglink.replace("htmls" , "svgs").replace("html", "svgz");
		        print( "<b class=\"ex\">" + "Name : " + "</b>" + target[p].data.canonicalName + " | " +
		               "<b class=\"ex\">" + "Links : " + "</b>" + "<a target=_blank href=" + target[p].data["url"] + ">" + target[p].data.canonicalName + " page" + "</a>");
                        print("<iframe width=530 height=500 scrolling=no src=" + svglink + ">"  + "</iframe>"  );
                        print("<iframe width=0 height=0 src=" + target[p].data["url"] + ">"  + "</iframe>"  );
	            }
    
	            // gene 
                    if(target[p].data.type =="gene" ) {
                        print("<b class=\"ex\">" + "Node Type : " + "</b>"+ target[p].data.type + "<p>");
                        print("<hr>");
                        print("<ul>");
                        print("<li type=\"square\">" + "<b class=\"ex\">" + "Name : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target[p].data.label + ">" + target[p].data.label + "</a>" +  " , " + "</b>" + target[p].data["long.name"]+"</li>");
                        print("<li type=\"square\">" + "<b class=\"ex\">" + "Homologs : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/fetchLocus.cgi?locus=" + target[p].data.locusId + "&disp=3" + ">" + "MicrobesOnline" + "</a>" + "</li>" + "<p>");
                        print("<hr>");
                        print("</ul>" + "<ul>");

                        if (target[p].data.TIGRRoles) {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "TIGR Roles : " + "</b>"+ target[p].data.TIGRRoles + "</li>" + "<p>");
                        } else {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "TIGR Roles : " + "</b>"+ "No TIGR Roles asigned" + "</li>" + "</font>" + "<p>");
                        }

                        if (target[p].data.COG) {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "COG : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target[p].data.COG + ">" + target[p].data.COG + "</a>" + " at Microbes Online" +  "</li>" + "<p>");
                        } else {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "COG : " + "</b>"+ "No COG categories asigned" + "</li>" + "</font>" + "<p>");
                        }

                        if (target[p].data.GO) {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "GO Term(s) : " + "</b>" + "<a target=_blank href=" + "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=" + target[p].data.GO + ">" + target[p].data.GO + "</a>" +  "</li>" + "<p>");
                        } else {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "GO : " + "</b>"+ "No GO Terms asigned" + "</li>" + "</font>" + "<p>");
                        }
							
                        print("</ul>" + "<ul>");
                         	  
                        if (target[p].data["pathway.2"] =="NA") {
                            print("<li type=\"disc\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "KEGG Main Pathway : " + "</b>" + "No KEGG pathway assigned" + "</li>" + "</font>" + "<p>");
                        } else {
                            print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Main Pathway : " + "</b>"+ target[p].data["pathway.0"] + "</li>" + "<p>");
                            print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 1: " + "</b>"+ target[p].data["pathway.1"] + "</li>" + "<p>");
                            print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 2: " + "</b>" + "<a id=" + "pathway" + " " + "target=_blank href=" + "http://www.genome.jp/kegg-bin/show_pathway?" + target[p].data.pathway + ">" + target[p].data["pathway.2"] + "</a>" + "<div class=tooltip>" + "</li>" + "<p>");
                        }
                    }   
    
   	            // regulator 
                    if(target[p].data.type =="regulator" ) {
                        print("<b class=\"ex\">" + "Node Type : " + "</b>"+ target[p].data.type + "<p>");
                        print("<hr>");
                        print("<ul>");
                        print("<li type=\"square\">" +"<b class=\"ex\">" + "Name : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target[p].data.label + ">" + target[p].data.label + "</a>" +  " , " + "</b>" + target[p].data["long.name"] + "</li>");
                        print("<li type=\"square\">" + "<b class=\"ex\">" + "Homologs : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/fetchLocus.cgi?locus=" + target[p].data.locusId + "&disp=3" + ">" + "MicrobesOnline" + "</a>" + "</li>" + "<p>");
                        print("<hr>");
                        print("</ul>" + "<ul>");

                        if (target[p].data.TIGRRoles) {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "TIGR Roles : " + "</b>"+ target[p].data.TIGRRoles + "</li>" + "<p>");
                        } else {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "TIGR Roles : " + "</b>"+ "No TIGR Roles asigned" + "</li>" + "</font>" + "<p>");
                        }

                        if (target[p].data.COG) {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "COG : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target[p].data.COG + ">" + target[p].data.COG + "</a>" + " at Microbes Online" +  "</li>" + "<p>");
                        } else {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "COG : " + "</b>"+ "No COG categories asigned" + "</li>" + "</font>" + "<p>");
                        }

                        if (target[p].data.GO) {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "GO Term(s) : " + "</b>" + "<a target=_blank href=" + "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=" + target[p].data.GO + ">" + target[p].data.GO + "</a>" +  "</li>" + "<p>");
                        } else {
                            print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "GO : " + "</b>"+ "No GO Terms asigned" + "</li>" + "</font>" + "<p>");
                        }
							
                        print("</ul>" + "<ul>");
                        if (target[p].data["pathway.2"] =="NA") {
                            print("<li type=\"disc\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "KEGG Main Pathway : " + "</b>" + "No KEGG pathway assigned" + "</li>" + "</font>" + "<p>");
                        } else {
                            print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Main Pathway : " + "</b>"+ target[p].data["pathway.0"] + "</li>" + "<p>");
                            print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 1: " + "</b>"+ target[p].data["pathway.1"] + "</li>" + "<p>");
                            print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 2: " + "</b>" + "<a id=" + "pathway" + " " + "target=_blank href=" + "http://www.genome.jp/kegg-bin/show_pathway?" + target[p].data.pathway + ">" + target[p].data["pathway.2"] + "</a>" + "<div class=tooltip>" + "</li>" + "<p>");
                        }
							
		        print("</ul>" + "<ul>");
		        print("<li type=\"square\">" + "<b class=\"ex\">" + "Regulation : " + "</b>" + "<a target=_blank href=" + "http://regtransbase.lbl.gov/cgi-bin/regtransbase?page=geneinfo;locusid=" + target[p].data.locusId + ">" + "RegTransBase" + "</a>" + "</li>" + "<p>");
							
                    }
 
	            // motif   
                    if(target[p].data.type== "motif") { 
                        print("<b class=\"ex\">" + "Type : " + "</b>"+ target[p].data.type + "<p>");
                        print("<ul>");
                        print( "<li>" + "<b class=\"ex\">" + "Name : " + "</b>" + target[p].data.canonicalName + "</li>" + "<p>");
                        print( "<li>" + "<b class=\"ex\">" + "Consensus : " + "</b>"  + target[p].data.consensus + "</li><li>" +
                               "<b class=\"ex\">" + "E value : " + "</b>" + target[p].data["e.value"] + "</li><li>" + 
                               "<b class=\"ex\">" + "# of Sites : " + "</b>" + target[p].data["n.sites"] + "<p>" + "</li><hr>" +
                               "<a target=_blank href=" + target[p].data.imgURL + ">" + "<img align=left src=" + target[p].data.imgURL + ">" + "</a>");
                        print("</li></ul>");
                    }
                           
	            // edge   
                    if(event.group == "edges") { 
                        print("<ul>");
		        print( "<b class=\"ex\">" + "Name : " + "</b>" + target[p].data.canonicalName + "<p>");

		        if (target[p].data.interaction=="motif"){
                            print("<ul>" + "<b class=\"ex\">" + "E value : " + "</b>" + target[p].data["e.value"] + "</li><li>" + 
                                  "<b class=\"ex\">" + "# of Sites : " + "</b>" + target[p].data.nsites + "</li><li>" +
                                  "<b class=\"ex\">" + "Llr : " + "</b>" + target[p].data.llr +  "</li><li>" +
                                  "<b class=\"ex\">" + "Width : " + "</b>" + target[p].data.width + "<li></ul>" + "<p>" );
                        } else {
                            print("<ul>");
                            print("<hr>");

                            if (target[p].data.interaction =="down-regulates"){
                                print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"green\">"+ target[p].data.interaction + "</font>" + "<p>");
                            }

                            if (target[p].data.interaction =="up-regulates"){
                                print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"red\">"+ target[p].data.interaction + "</font>" + "<p>");
                            }

                            if (target[p].data.interaction =="combines"){
                                print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"orange\">"+ target[p].data.interaction + "</font>" + "<p>");
                            }

                            if (target[p].data.weight){
                                print("<ul>");
                                print( "<b class=\"ex\">" + "Inferelator Weight : " + "</b>" + target[p].data.weight + "<p>");
                            }
	                }
                    }
            
	            //AND-GATE
                    if(target[p].data["Matching.Attribute"]) {
                        print("<b class=\"ex\">" + "Type : " + "</b>"+ "Logic gate" + "<p>");
                        print("<ul>");
                        print("<li>" + "<b class=\"ex\">" + "Name : " + "</b>" + target[p].data.canonicalName + "</li></ul>" + "<p>");
                    }


                } else { // multiselection part of if/else
                    //print ("Going to display some table here composed of the following items ");
                    //print("NAME = " + target[p].data.canonicalName + "; TYPE = " + target[p].data.type);
	            var bi_data = {};                    
	            var gene_data = {};
	            var reg_data = {};
	            var mot_data = {};
	            var and_data = {};

	            var bi_array = [];
	            var gene_array = [];
	            var reg_array = [];
	            var mot_array = [];
	            var and_array = [];
	  

	            // bicluster   
                    if(target[p].data.type== "bicluster") { 
	                bi_data["Name"] = target[p].data.canonicalName;
	                bi_data["Short Name"] = target[p].data["short.name"];
	                bi_data["Long Name"] = target[p].data["long.name"];
	                bi_array = bi_data;
	                all_bicl.push(bi_array);
	                items["Biclusters"] = all_bicl; //bi_array.push(bi_data);
	            }

	            // gene
                    if(target[p].data.type =="gene" ) {
	                gene_data["Name"] = target[p].data.label;
	                gene_data["Short Name"] = target[p].data["short.name"];	   
	                gene_data["Long Name"] = target[p].data["long.name"];
	                gene_data["COG"] = target[p].data.COG;
	                gene_data["TIGR"] = target[p].data.TIGRRoles;
	                gene_array = gene_data;
	                all_genes.push(gene_array);
	                items["Genes"] = all_genes; 
	            }

                    // regulator
                    if(target[p].data.type =="regulator" ) {
	                reg_data["Name"] = target[p].data.label;
	                reg_data["Short Name"] = target[p].data["short.name"];	   
	                reg_data["Long Name"] = target[p].data["long.name"];
	                reg_data["COG"] = target[p].data.COG;
	                reg_data["TIGR"] = target[p].data.TIGRRoles;
	                reg_array = reg_data;
	                all_regs.push(reg_array);
	                items["Regulators"] = all_regs; 
	            }

	            // motif   
                    if(target[p].data.type== "motif") { 
	                mot_data["Name"] = target[p].data.canonicalName;
	                mot_data["E Value"] = target[p].data["e.value"];	   
	                mot_data["Consensus"] = target[p].data.consensus;
	                mot_array = mot_data;
	                all_mots.push(mot_array);
	                items["Motifs"] = all_mots; 
	            }

	            // edge   
                    if(event.group == "edges") { 
	                // not sure if this will be added/needed; placeholder
	            }

	            //AND-GATE
                    if(target[p].data["Matching.Attribute"]) {
	                and_data["Name"] = target[p].data.canonicalName;
	                and_data["E Value"] = target[p].data["e.value"];	   
	                and_data["Consensus"] = target[p].data.consensus;
	                and_array = and_data;
	                all_ands.push(and_array);
	                items["AND-GATE"] = all_ands; 
	            }

                }

            } // for (var p in target)           
	    
	    if (len > 1) {
	        var table_text = "<table><caption id=\"network-caption\">Summary view of network </caption><colgroup id=\"cols\" span=\"9\"></colgroup>";
	        var row_start = "<tr>";
	        var row_end = "</tr>";
	        var rows = "";
	        var headers = "";

	        for(var a in items) {
	            //console.debug("type = " + a);
	            a_chunk = "<tr><th>" + a + "</th></tr>";
                    console.debug("type = " + a_chunk);
	            table_text += a_chunk;
	            rows = "";
	            for (var s in items[a]) {
	                rows += "<tr>";
	                headers = "";
	                for (var k in items[a][s]) {
	                    h_chunk = "<th>" + k + "</th>"; 
	                    headers += h_chunk; 
	                    if (items[a][s][k] == "" ) {
	                        v = "NA";
	                    } else {
	                        v = items[a][s][k];
	                    }
	                        r_chunk = "<td>" + v + "</td>";	         
                                rows +=  r_chunk;
	                    //console.debug("items = " + k + "..." + items[a][s][k]);
	                }
	                rows += "</tr>";
	            }
	            console.debug(row_start + headers + row_end);
	            console.debug(rows);	     
	            table_text += row_start + headers + row_end;
	            table_text += rows;
	        }
	        table_text += "</table>";
	        console.debug(table_text);
	        print(table_text);
	    }

        } // handle_select

        function handle_click(event) {
            var target = event.target;
            clear();

	    // bicluster   
            if(target.data.type== "bicluster") { 
	        svglink=target.data["url"];
                svglink=svglink.replace("htmls" , "svgs").replace("html", "svgz");
		print( "<b class=\"ex\">" + "Name : " + "</b>" + target.data.canonicalName + " | " +
		       "<b class=\"ex\">" + "Links : " + "</b>" + "<a target=_blank href=" + target.data["url"] + ">" + target.data.canonicalName + " page" + "</a>");
                print("<iframe width=530 height=500 scrolling=no src=" + svglink + ">"  + "</iframe>"  );
                print("<iframe width=0 height=0 src=" + target.data["url"] + ">"  + "</iframe>"  );
	    }
    
	    // gene 
            if(target.data.type =="gene" ) {
                print("<b class=\"ex\">" + "Node Type : " + "</b>"+ target.data.type + "<p>");
                print("<hr>");
                print("<ul>");
                print("<li type=\"square\">" + "<b class=\"ex\">" + "Name : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target.data.label + ">" + target.data.label + "</a>" +  " , " + "</b>" + target.data["long.name"]+"</li>");
                print("<li type=\"square\">" + "<b class=\"ex\">" + "Homologs : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/fetchLocus.cgi?locus=" + target.data.locusId + "&disp=3" + ">" + "MicrobesOnline" + "</a>" + "</li>" + "<p>");
                print("<hr>");
                print("</ul>" + "<ul>");

                if (target.data.TIGRRoles) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "TIGR Roles : " + "</b>"+ target.data.TIGRRoles + "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "TIGR Roles : " + "</b>"+ "No TIGR Roles asigned" + "</li>" + "</font>" + "<p>");
                }

                if (target.data.COG) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "COG : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target.data.COG + ">" + target.data.COG + "</a>" + " at Microbes Online" +  "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "COG : " + "</b>"+ "No COG categories asigned" + "</li>" + "</font>" + "<p>");
                }

                if (target.data.GO) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "GO Term(s) : " + "</b>" + "<a target=_blank href=" + "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=" + target.data.GO + ">" + target.data.GO + "</a>" +  "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "GO : " + "</b>"+ "No GO Terms asigned" + "</li>" + "</font>" + "<p>");
                }
							
                print("</ul>" + "<ul>");
                         	  
                if (target.data["pathway.2"] =="NA") {
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "KEGG Main Pathway : " + "</b>" + "No KEGG pathway assigned" + "</li>" + "</font>" + "<p>");
                } else {
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Main Pathway : " + "</b>"+ target.data["pathway.0"] + "</li>" + "<p>");
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 1: " + "</b>"+ target.data["pathway.1"] + "</li>" + "<p>");
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 2: " + "</b>" + "<a id=" + "pathway" + " " + "target=_blank href=" + "http://www.genome.jp/kegg-bin/show_pathway?" + target.data.pathway + ">" + target.data["pathway.2"] + "</a>" + "<div class=tooltip>" + "</li>" + "<p>");
                }
            }   
    
   	    // regulator 
            if(target.data.type =="regulator" ) {
                print("<b class=\"ex\">" + "Node Type : " + "</b>"+ target.data.type + "<p>");
                print("<hr>");
                print("<ul>");
                print("<li type=\"square\">" +"<b class=\"ex\">" + "Name : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target.data.label + ">" + target.data.label + "</a>" +  " , " + "</b>" + target.data["long.name"] + "</li>");
                print("<li type=\"square\">" + "<b class=\"ex\">" + "Homologs : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/fetchLocus.cgi?locus=" + target.data.locusId + "&disp=3" + ">" + "MicrobesOnline" + "</a>" + "</li>" + "<p>");
                print("<hr>");
                print("</ul>" + "<ul>");

                if (target.data.TIGRRoles) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "TIGR Roles : " + "</b>"+ target.data.TIGRRoles + "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "TIGR Roles : " + "</b>"+ "No TIGR Roles asigned" + "</li>" + "</font>" + "<p>");
                }

                if (target.data.COG) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "COG : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target.data.COG + ">" + target.data.COG + "</a>" + " at Microbes Online" +  "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "COG : " + "</b>"+ "No COG categories asigned" + "</li>" + "</font>" + "<p>");
                }

                if (target.data.GO) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "GO Term(s) : " + "</b>" + "<a target=_blank href=" + "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=" + target.data.GO + ">" + target.data.GO + "</a>" +  "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "GO : " + "</b>"+ "No GO Terms asigned" + "</li>" + "</font>" + "<p>");
                }
							
                print("</ul>" + "<ul>");
                if (target.data["pathway.2"] =="NA") {
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "KEGG Main Pathway : " + "</b>" + "No KEGG pathway assigned" + "</li>" + "</font>" + "<p>");
                } else {
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Main Pathway : " + "</b>"+ target.data["pathway.0"] + "</li>" + "<p>");
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 1: " + "</b>"+ target.data["pathway.1"] + "</li>" + "<p>");
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 2: " + "</b>" + "<a id=" + "pathway" + " " + "target=_blank href=" + "http://www.genome.jp/kegg-bin/show_pathway?" + target.data.pathway + ">" + target.data["pathway.2"] + "</a>" + "<div class=tooltip>" + "</li>" + "<p>");
                }
							
		print("</ul>" + "<ul>");
		print("<li type=\"square\">" + "<b class=\"ex\">" + "Regulation : " + "</b>" + "<a target=_blank href=" + "http://regtransbase.lbl.gov/cgi-bin/regtransbase?page=geneinfo;locusid=" + target.data.locusId + ">" + "RegTransBase" + "</a>" + "</li>" + "<p>");
							
            }
 
	    // motif   
            if(target.data.type== "motif") { 
                print("<b class=\"ex\">" + "Type : " + "</b>"+ target.data.type + "<p>");
                print("<ul>");
                print( "<li>" + "<b class=\"ex\">" + "Name : " + "</b>" + target.data.canonicalName + "</li>" + "<p>");
                print( "<li>" + "<b class=\"ex\">" + "Consensus : " + "</b>"  + target.data.consensus + "</li><li>" +
                       "<b class=\"ex\">" + "E value : " + "</b>" + target.data["e.value"] + "</li><li>" + 
                       "<b class=\"ex\">" + "# of Sites : " + "</b>" + target.data["n.sites"] + "<p>" + "</li><hr>" +
                       "<a target=_blank href=" + target.data.imgURL + ">" + "<img align=left src=" + target.data.imgURL + ">" + "</a>");
                print("</li></ul>");
            }
                           
	    // edge   
            if(event.group == "edges") { 
                print("<ul>");
		print( "<b class=\"ex\">" + "Name : " + "</b>" + target.data.canonicalName + "<p>");

		if (target.data.interaction=="motif"){
                    print("<ul>" + "<b class=\"ex\">" + "E value : " + "</b>" + target.data["e.value"] + "</li><li>" + 
                          "<b class=\"ex\">" + "# of Sites : " + "</b>" + target.data.nsites + "</li><li>" +
                          "<b class=\"ex\">" + "Llr : " + "</b>" + target.data.llr +  "</li><li>" +
                          "<b class=\"ex\">" + "Width : " + "</b>" + target.data.width + "<li></ul>" + "<p>" );
                } else {
                    print("<ul>");
                    print("<hr>");

                    if (target.data.interaction =="down-regulates"){
                        print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"green\">"+ target.data.interaction + "</font>" + "<p>");
                    }

                    if (target.data.interaction =="up-regulates"){
                        print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"red\">"+ target.data.interaction + "</font>" + "<p>");
                    }

                    if (target.data.interaction =="combines"){
                        print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"orange\">"+ target.data.interaction + "</font>" + "<p>");
                    }

                    if (target.data.weight){
                        print("<ul>");
                        print( "<b class=\"ex\">" + "Inferelator Weight : " + "</b>" + target.data.weight + "<p>");
                    }
	        }
            }
            
	    //AND-GATE
            if(target.data["Matching.Attribute"]) {
                print("<b class=\"ex\">" + "Type : " + "</b>"+ "Logic gate" + "<p>");
                print("<ul>");
                print("<li>" + "<b class=\"ex\">" + "Name : " + "</b>" + target.data.canonicalName + "</li></ul>" + "<p>");
            }

        }   

        function clear() {
            document.getElementById("note").innerHTML = "";

        }
    
        function print(msg) {
            document.getElementById("note").innerHTML += "<p>" + msg + "</p>";
        }
    

    });

    // callback when Cytoscape Web has finished drawing
    vis_2.ready(function() {
    
        // add a listener for when nodes and edges are clicked
        vis_2.addListener("click", "nodes", function(event) {
            $("#note2").dialog({
                autoOpen: true,
                title: 'Selection: Nodes',
                width: 600,
                open: handle_click(event)
            });
        });

        vis_2.addListener("click", "edges", function(event) {
            $("#note2").dialog({
                autoOpen: true,
                title: 'Selection: Edges',
                open: handle_click(event)
            });
        });

        function handle_click(event) {
            var target = event.target;
            clear();

	    // bicluster   
            if(target.data.type== "bicluster") { 
	        svglink=target.data["url"];
                svglink=svglink.replace("htmls" , "svgs").replace("html", "svgz");
		print( "<b class=\"ex\">" + "Name : " + "</b>" + target.data.canonicalName + " | " +
		       "<b class=\"ex\">" + "Links : " + "</b>" + "<a target=_blank href=" + target.data["url"] + ">" + target.data.canonicalName + " page" + "</a>");
                print("<iframe width=530 height=500 scrolling=no src=" + svglink + ">"  + "</iframe>"  );
                print("<iframe width=0 height=0 src=" + target.data["url"] + ">"  + "</iframe>"  );
	    }
    
	    // gene 
            if(target.data.type =="gene" ) {
                print("<b class=\"ex\">" + "Node Type : " + "</b>"+ target.data.type + "<p>");
                print("<hr>");
                print("<ul>");
                print("<li type=\"square\">" + "<b class=\"ex\">" + "Name : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target.data.label + ">" + target.data.label + "</a>" +  " , " + "</b>" + target.data["long.name"]+"</li>");
                print("<li type=\"square\">" + "<b class=\"ex\">" + "Homologs : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/fetchLocus.cgi?locus=" + target.data.locusId + "&disp=3" + ">" + "MicrobesOnline" + "</a>" + "</li>" + "<p>");
                print("<hr>");
                print("</ul>" + "<ul>");

                if (target.data.TIGRRoles) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "TIGR Roles : " + "</b>"+ target.data.TIGRRoles + "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "TIGR Roles : " + "</b>"+ "No TIGR Roles asigned" + "</li>" + "</font>" + "<p>");
                }

                if (target.data.COG) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "COG : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target.data.COG + ">" + target.data.COG + "</a>" + " at Microbes Online" +  "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "COG : " + "</b>"+ "No COG categories asigned" + "</li>" + "</font>" + "<p>");
                }

                if (target.data.GO) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "GO Term(s) : " + "</b>" + "<a target=_blank href=" + "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=" + target.data.GO + ">" + target.data.GO + "</a>" +  "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "GO : " + "</b>"+ "No GO Terms asigned" + "</li>" + "</font>" + "<p>");
                }
							
                print("</ul>" + "<ul>");
                         	  
                if (target.data["pathway.2"] =="NA") {
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "KEGG Main Pathway : " + "</b>" + "No KEGG pathway assigned" + "</li>" + "</font>" + "<p>");
                } else {
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Main Pathway : " + "</b>"+ target.data["pathway.0"] + "</li>" + "<p>");
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 1: " + "</b>"+ target.data["pathway.1"] + "</li>" + "<p>");
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 2: " + "</b>" + "<a id=" + "pathway" + " " + "target=_blank href=" + "http://www.genome.jp/kegg-bin/show_pathway?" + target.data.pathway + ">" + target.data["pathway.2"] + "</a>" + "<div class=tooltip>" + "</li>" + "<p>");
                }
            }   
    
   	    // regulator 
            if(target.data.type =="regulator" ) {
                print("<b class=\"ex\">" + "Node Type : " + "</b>"+ target.data.type + "<p>");
                print("<hr>");
                print("<ul>");
                print("<li type=\"square\">" +"<b class=\"ex\">" + "Name : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target.data.label + ">" + target.data.label + "</a>" +  " , " + "</b>" + target.data["long.name"] + "</li>");
                print("<li type=\"square\">" + "<b class=\"ex\">" + "Homologs : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/fetchLocus.cgi?locus=" + target.data.locusId + "&disp=3" + ">" + "MicrobesOnline" + "</a>" + "</li>" + "<p>");
                print("<hr>");
                print("</ul>" + "<ul>");

                if (target.data.TIGRRoles) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "TIGR Roles : " + "</b>"+ target.data.TIGRRoles + "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "TIGR Roles : " + "</b>"+ "No TIGR Roles asigned" + "</li>" + "</font>" + "<p>");
                }

                if (target.data.COG) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "COG : " + "</b>" + "<a target=_blank href=" + "http://microbesonline.org/cgi-bin/keywordSearch.cgi?taxId=882&keyword=" + target.data.COG + ">" + target.data.COG + "</a>" + " at Microbes Online" +  "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "COG : " + "</b>"+ "No COG categories asigned" + "</li>" + "</font>" + "<p>");
                }

                if (target.data.GO) {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "GO Term(s) : " + "</b>" + "<a target=_blank href=" + "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=" + target.data.GO + ">" + target.data.GO + "</a>" +  "</li>" + "<p>");
                } else {
                    print("<li type=\"circle\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "GO : " + "</b>"+ "No GO Terms asigned" + "</li>" + "</font>" + "<p>");
                }
							
                print("</ul>" + "<ul>");
                if (target.data["pathway.2"] =="NA") {
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "<font color=\"gray\">" + "KEGG Main Pathway : " + "</b>" + "No KEGG pathway assigned" + "</li>" + "</font>" + "<p>");
                } else {
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Main Pathway : " + "</b>"+ target.data["pathway.0"] + "</li>" + "<p>");
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 1: " + "</b>"+ target.data["pathway.1"] + "</li>" + "<p>");
                    print("<li type=\"disc\">" + "<b class=\"ex\">" + "KEGG Sub Pathway 2: " + "</b>" + "<a id=" + "pathway" + " " + "target=_blank href=" + "http://www.genome.jp/kegg-bin/show_pathway?" + target.data.pathway + ">" + target.data["pathway.2"] + "</a>" + "<div class=tooltip>" + "</li>" + "<p>");
                }
							
		print("</ul>" + "<ul>");
		print("<li type=\"square\">" + "<b class=\"ex\">" + "Regulation : " + "</b>" + "<a target=_blank href=" + "http://regtransbase.lbl.gov/cgi-bin/regtransbase?page=geneinfo;locusid=" + target.data.locusId + ">" + "RegTransBase" + "</a>" + "</li>" + "<p>");
							
            }
 
	    // motif   
            if(target.data.type== "motif") { 
                print("<b class=\"ex\">" + "Type : " + "</b>"+ target.data.type + "<p>");
                print("<ul>");
                print( "<li>" + "<b class=\"ex\">" + "Name : " + "</b>" + target.data.canonicalName + "</li>" + "<p>");
                print( "<li>" + "<b class=\"ex\">" + "Consensus : " + "</b>"  + target.data.consensus + "</li><li>" +
                       "<b class=\"ex\">" + "E value : " + "</b>" + target.data["e.value"] + "</li><li>" + 
                       "<b class=\"ex\">" + "# of Sites : " + "</b>" + target.data["n.sites"] + "<p>" + "</li><hr>" +
                       "<a target=_blank href=" + target.data.imgURL + ">" + "<img align=left src=" + target.data.imgURL + ">" + "</a>");
                print("</li></ul>");
            }
                           
	    // edge   
            if(event.group == "edges") { 
                print("<ul>");
		print( "<b class=\"ex\">" + "Name : " + "</b>" + target.data.canonicalName + "<p>");

		if (target.data.interaction=="motif"){
                    print("<ul>" + "<b class=\"ex\">" + "E value : " + "</b>" + target.data["e.value"] + "</li><li>" + 
                          "<b class=\"ex\">" + "# of Sites : " + "</b>" + target.data.nsites + "</li><li>" +
                          "<b class=\"ex\">" + "Llr : " + "</b>" + target.data.llr +  "</li><li>" +
                          "<b class=\"ex\">" + "Width : " + "</b>" + target.data.width + "<li></ul>" + "<p>" );
                } else {
                    print("<ul>");
                    print("<hr>");

                    if (target.data.interaction =="down-regulates"){
                        print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"green\">"+ target.data.interaction + "</font>" + "<p>");
                    }

                    if (target.data.interaction =="up-regulates"){
                        print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"red\">"+ target.data.interaction + "</font>" + "<p>");
                    }

                    if (target.data.interaction =="combines"){
                        print("<b class=\"ex\">"  + "Interaction : " + "</b>" + "<font color=\"orange\">"+ target.data.interaction + "</font>" + "<p>");
                    }

                    if (target.data.weight){
                        print("<ul>");
                        print( "<b class=\"ex\">" + "Inferelator Weight : " + "</b>" + target.data.weight + "<p>");
                    }
	        }
            }
            
	    //AND-GATE
            if(target.data["Matching.Attribute"]) {
                print("<b class=\"ex\">" + "Type : " + "</b>"+ "Logic gate" + "<p>");
                print("<ul>");
                print("<li>" + "<b class=\"ex\">" + "Name : " + "</b>" + target.data.canonicalName + "</li></ul>" + "<p>");
            }

        }   

        function clear() {
            document.getElementById("note2").innerHTML = "";

        }
    
        function print(msg) {
            document.getElementById("note2").innerHTML += "<p>" + msg + "</p>";
        }
    

    });


    $.ajax({
        url: "/images/dvh_portal_files/flagella_inf_motif_union.xgmml",
        success: function(data){
            if (typeof data !== "string") {
                if (window.ActiveXObject) { // IE
                    data = data.xml;
                }
                else {
                    data = (new XMLSerializer()).serializeToString(data);
                }
            }
            vis.draw({
                network: data,
                layout:  'Preset'
            });
        },
	cache: true,
        error: function(){
            show_msg({
                type: "error",
                target:"#cytoscapeweb",
                message: "The file you specified could not be loaded. url=" + options.url,
                heading: "File not found",
            });
        }
    });


    $.ajax({
        url: "/images/dvh_portal_files/aminoacid_metabolism.xgmml",
        success: function(data){
            if (typeof data !== "string") {
                if (window.ActiveXObject) { // IE
                    data = data.xml;
                }
                else {
                    data = (new XMLSerializer()).serializeToString(data);
                }
            }
            vis_2.draw({
                network: data,
                layout:  'Preset'
            });
        },
	cache: true,
        error: function(){
            show_msg({
                type: "error",
                target:"#cytoscapeweb2",
                message: "The file you specified could not be loaded. url=" + options.url,
                heading: "File not found",
            });
        }
    });


</script>

<div id="page">
  <div id="content">
    <h1>Network Analysis View</h1>
    <p>Flagellar Assembly</p>
    <div id="gene-tabs">
      <ul class="tabs">
	<li><a href="#gene-1">D. Vulgaris</a></li>
	<li><a href="#gene-2">H. Salinarum</a></li>
      </ul>
      
      <!-- BEGING TABS -->
      <div id="gene-1" class="pane">
<!--
	<div class="expand_top">
	  <div class="expand_all">Expand All</div>
	</div>
-->
	<div id="summary">
	  <section class="summary">
	    <span class="title">Summary:</span>
	    <span class="descr-info">Some definition/summary info here.  We can grab from KEGG</span>
	  </section>
	  <br />
	  <section class="related-networks">
	    <span class="title">Related Networks:</span>
	    <table id="related"> 
	      <caption></caption>
	      <colgroup id="cols" span="4"></colgroup>
	      <tr>
		<th>Name</th>
		<th># of Biclusters</th>
		<th># of Regulators</th>
		<th>p-value</th>
	      </tr>
	      <tr>
		<td>Bacterial Chemotaxis</td>
		<td>3</td>
		<td>6</td>
		<td>0.221</td>
	      </tr>
	    </table>
	  </section>
	  <br />
	  <section class="stat-table">
	    <span class="title">Enrichment table of stats:</span>
	    <div id="network-summary">
	      <table id="enrich">
		<caption>Functional enrichment of Flagellar Assembly pathway in D. vulgaris regulatory network</caption>
		<colgroup id="cols" span="5"></colgroup>	      
		<tr>
		  <th>Bicluster</th>
		  <th>p-value</th>
		  <th>pathway 2</th>
		  <th>pathway 1</th>
		  <th>pathway 0</th>
		</tr>
		<tr>
		  <td>bicluster_0286</td>
		  <td>6.498911e-15</td>
		  <td>Flagellar assembly</td>
		  <td>Cell Motility</td>
		  <td>Cellular Processes</td>
		</tr> 
		<tr>
		  <td>bicluster_0184</td>
		  <td>1.353184e-27</td>
		  <td>Flagellar assembly</td>
		  <td>Cell Motility</td>
		  <td>Cellular Processes</td>
		</tr> 
		<tr>
		  <td>bicluster_0125</td>
		  <td>1.078040e-20</td>
		  <td>Flagellar assembly</td>
		  <td>Cell Motility</td>
		  <td>Cellular Processes</td>
		</tr>
		<tr>
		  <td>bicluster_0022</td>
		  <td>6.186446e-13</td>
		  <td>Flagellar assembly</td>
		  <td>Cell Motility</td>
		  <td>Cellular Processes</td>
		</tr> 
	      </table>
	    </div>
	  </section>
	</div>
	<br/>
	<div id="network">
<!--
	  <span id="network-list" class="collapsed network-title expand_heading"><span id="item-title">Network:</span></span>
	  <div id="network-list" class="toggle_container">
-->
	  <span id="network-list" class="network-title expand_heading"><span id="item-title">Network:</span></span>
	  <div id="network-list">
	    <div id="network-tabs">
	      <ul id="test" class="tabs">
		<li><a href="#tab-5">Overview Network</a></li>
		<li><a href="#tab-6">Bicluster 0286</a></li>
		<li><a href="#tab-7">Bicluster 0184</a></li>
		<li><a href="#tab-8">Bicluster 0125</a></li>
		<li><a href="#tab-9">Bicluster 0022</a></li>
	      </ul>
	      <div id="tab-5" class="pane">
		<div id="network-summary">
		  <table> 
		    <caption id="network-caption">Functional enrichment of Flagellar Assembly pathway in D. vulgaris regulatory network </caption>
		    <colgroup id="cols" span="5"></colgroup>
		    <tr>
		      <th>bicluster</th>
		      <th>Bonferroni cor. pvalue</th>
		      <th> KEGG sub pathway 1</th>
		      <th> KEGG sub pathway 2</th>
		      <th> KEGG main pathway</th>
		    </tr> 
		    <tr>
		      <td>bicluster_0286</td>
		      <td>6.498911e-15	</td>
		      <td>Flagellar assembly	</td>
		      <td>Cell Motility	</td>
		      <td>Cellular Processes</td>
		    </tr> 
		    <tr>
		      <td>bicluster_0184</td>
		      <td>	1.353184e-27</td>
		      <td>	Flagellar assembly</td>
		      <td>	Cell Motility</td>
		      <td>	Cellular Processes</td>
		    </tr> 
		    <tr>
		      <td>bicluster_0125</td>
		      <td>	1.078040e-20</td>
		      <td>	Flagellar assembly</td>
		      <td>	Cell Motility</td>
		      <td>	Cellular Processes</td>
		    </tr>
		    <tr>
		      <td>bicluster_0022</td>
		      <td>	6.186446e-13</td>
		      <td>	Flagellar assembly</td>
		      <td>	Cell Motility</td>
		      <td>	Cellular Processes</td>
		    </tr> 
		  </table> 
		</div> 
		<div id="cytoscapeweb">

		</div>
		<div id="note">

		</div>
	      </div>
	      <div id="tab-6" class="pane">
		<div id="network-summary">
		  <table> 
		    <caption id="network-caption">Functional enrichment of Flagellar Assembly pathway in D. vulgaris regulatory network </caption>
		    <colgroup id="cols" span="5"></colgroup>
		    <tr>
		      <th>bicluster</th>
		      <th>Bonferroni cor. pvalue</th>
		      <th> KEGG sub pathway 1</th>
		      <th> KEGG sub pathway 2</th>
		      <th> KEGG main pathway</th>
		    </tr> 
		    <tr>
		      <td>bicluster_0286</td>
		      <td>6.498911e-15	</td>
		      <td>Flagellar assembly	</td>
		      <td>Cell Motility	</td>
		      <td>Cellular Processes</td>
		    </tr> 
		    <tr>
		      <td>bicluster_0184</td>
		      <td>	1.353184e-27</td>
		      <td>	Flagellar assembly</td>
		      <td>	Cell Motility</td>
		      <td>	Cellular Processes</td>
		    </tr> 
		    <tr>
		      <td>bicluster_0125</td>
		      <td>	1.078040e-20</td>
		      <td>	Flagellar assembly</td>
		      <td>	Cell Motility</td>
		      <td>	Cellular Processes</td>
		    </tr>
		    <tr>
		      <td>bicluster_0022</td>
		      <td>	6.186446e-13</td>
		      <td>	Flagellar assembly</td>
		      <td>	Cell Motility</td>
		      <td>	Cellular Processes</td>
		    </tr> 
		  </table> 
		</div> 
		<div id="cytoscapeweb2">

		</div>
		<div id="note2">

		</div>

<!--stuff for tab 6-->
	      </div>
	      <div id="tab-7" class="pane">
		stuff for bicluster 0184
	      </div>
	      <div id="tab-8" class="pane">
		stuff for bicluster 0125
	      </div>
	      <div id="tab-9" class="pane">
		stuff for bicluster 0022
	      </div>
	    </div>
	  </div>
	</div><!-- #network -->

      </div><!-- END GENE -->

      <div id="gene-2" class="pane">      
	testing
      </div><!-- END GENE -->

    </div><!-- END GENE-TABS -->

    <p><a href="/search_form">new search</a>&nbsp;<a href="/">home</a></p>

  </div><!-- End #content -->
</div><!-- End #page -->
